.header {
    margin-bottom: 20px;
    &__title {
        color: $fontColor;
        text-decoration: none;
    }

    &__tagline {
        font-family: 'Baskerville', 'Garamond', 'Palatino', "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
        font-style: italic;
            font-weight: normal;
    }
}