.inventory {
    // border: 1rem double $fontColor;
    // margin-top: 30px;
    padding: 1rem;
    &__items
        {
            height: 100vh;
            margin-top: 20px;
            overflow: scroll;
            padding: 10px 5px;
    }

    textarea {
        min-height: 300px;
    }
}