.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 65em; }
  .column-1 {
    width: 8.33333%; }
  .column-2 {
    width: 16.66667%; }
  .column-3 {
    width: 25%; }
  .column-4 {
    width: 33.33333%; }
  .column-5 {
    width: 41.66667%; }
  .column-6 {
    width: 50%; }
  .column-7 {
    width: 58.33333%; }
  .column-8 {
    width: 66.66667%; }
  .column-9 {
    width: 75%; }
  .column-10 {
    width: 83.33333%; }
  .column-11 {
    width: 91.66667%; }
  .column-12 {
    width: 100%; } }

body {
  color: #353535;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

header {
  text-align: center; }

button,
input[type=submit] {
  text-transform: uppercase;
  background: none;
  border: 1px solid black;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: sans-serif;
  transition: all 0.2s;
  position: relative;
  z-index: 2; }
  button[disabled],
  input[type=submit][disabled] {
    color: red;
    background: white;
    border-color: red;
    transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%); }
    button[disabled]:hover,
    button[disabled] input[type=submit][disabled]:hover,
    input[type=submit][disabled]:hover,
    input[type=submit][disabled] input[type=submit][disabled]:hover {
      color: #d12028;
      cursor: not-allowed;
      background: #fff;
      border-color: #d12028; }

h1 {
  font-size: 4rem;
  font-family: 'Oswald', 'Copperplate', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #eeeedd, 2px 2px 0 #cacaca; }

p {
  line-height: 1.5rem;
  margin: 10px 0; }

ul {
  list-style: none; }

.app {
  height: 90vh; }

.header {
  margin-bottom: 20px; }
  .header__title {
    color: #353535;
    text-decoration: none; }
  .header__tagline {
    font-family: 'Baskerville', 'Garamond', 'Palatino', "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
    font-style: italic;
    font-weight: normal; }

.store-selector {
  background: white;
  max-width: 500px;
  margin: 50px auto;
  padding: 2rem; }
  .store-selector input,
  .store-selector button {
    width: 100%; }
    .store-selector input[type="text"],
    .store-selector button[type="text"] {
      text-align: center;
      font-size: 2rem; }

.guitar-edit {
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid #000;
  overflow: hidden;
  display: flex;
  flex-flow: column; }
  .guitar-edit input,
  .guitar-edit select,
  .guitar-edit textarea {
    padding: 10px;
    line-height: 1;
    font-size: 1.2rem;
    border: 0;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    appearance: none;
    border-radius: 0;
    background: #fff; }
  .guitar-edit select {
    height: 50px; }

.btn {
  color: #353535;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  background: none;
  border: 1px solid black;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: sans-serif;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
  width: 100%;
  text-decoration: none; }
  .btn:hover {
    background: #353535;
    color: white; }

.products {
  height: 70vh;
  overflow: scroll;
  border: 1rem double #353535; }

.guitar__img {
  width: 100px;
  margin: auto; }
