@import 'base/variables';
@import 'base/mixins';
@import 'base/grid';
@import 'base/global';
@import 'modules/store-selector';
@import 'modules/guitar-edit';
@import 'modules/btn';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}
